.navBar {
    background-color: #218C8D;
}
floating {
    float: right
}

body {
    background-color: #8EDC9D;
}

h3 {
    color: #404040;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
h1 {
    color: #856798;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
a {
    color: #FFFFFF;
}

a:visited {
    color: #ff6600;
}

a:hover {
    color: #F9E559;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

divbody {
    border: 2px solid;
    border-radius: 25px;
}